<h3>{{name}}'s Journal</h3>
{{#if entries}}
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Notes</th>
                <th>Visibility</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
                <tr>
                    <td><a href="/entries/{{_id}}">{{formatDate date 'PPP'}}</a></td>
                    <td>{{truncate notes 150}}</td>
                    <td><span class="dash-status">{{visibility}}</span></td>
                    <td>
                        <a href="/entries/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit"></i></a>
                        <form action="/entries/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<p>Your journal contains all of your entries. <a href="/entries/add">Add your first entry!</a></p>
{{/if}}
